<div
  class="bg-white lg:max-w-7xl mx-auto lg:p-[2rem] rounded-lg text-[#667085] shadow-lg"
>
  <h1
    class="font-semibold text-2xl lg:text-4xl text-[#0C6FCA] text-center lg:text-left mt-[2rem]"
  >
    Select Shipping Company
  </h1>
  <h1 class="py-[2rem] text-center lg:text-left">
    Select at least three shipping companies
  </h1>
  <div class="flex flex-col gap-2">
    <div
      class="border border-gray-200 py-3 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    >
      <div class="flex flex-row gap-3 items-center">
        <input
          type="radio"
          class="outline-none border border-blue-500"
          checked="true"
        />
        <h1>DHL Express</h1>
      </div>
      <img src="/assets/public/dhl.png" alt="" />
    </div>
    <div
      class="border border-gray-200 py-3 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    >
      <div class="flex flex-row gap-3 items-center">
        <input type="radio" class="outline-none border border-blue-500" />
        <h1>FedEx</h1>
      </div>
      <img src="/assets/public/fedex.png" alt="" />
    </div>

    <div
      class="border border-gray-200 py-3 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    >
      <div class="flex flex-row gap-3 items-center">
        <input type="radio" class="outline-none border border-blue-500" />
        <h1>UPS</h1>
      </div>
      <img src="/assets/public/ups.png" alt="" />
    </div>
    <div
      class="border border-gray-200 py-3 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    >
      <div class="flex flex-row gap-3 items-center">
        <input type="radio" class="outline-none border border-blue-500" />
        <h1>UPS</h1>
      </div>
      <img src="/assets/public/ups.png" alt="" />
    </div>
    <div class="bg-[#0C6FCA] py-4 text-white rounded-md">
      <h1 class="text-center">Next</h1>
    </div>
  </div>
</div>
